/*@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'),
       local('Inconsolata-Regular'),
       url(fonts/Inconsolata-Regular.ttf) format('truetype');
}
button,
select,
html,
textarea,
input {
  font-family: "Helvetica Neue", sans-serif !important; }*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(fonts/MaterialIcons-Regular.woff) format('woff'),
       url(fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

md-toolbar h1 {
    font-family: 'Roboto Thin';
    font-size: 1.250em;
    font-weight: 400;
    padding: 0px 8px;
}

md-list-item > button {
  width:100%;
  text-align:left !important;
}

md-list .md-button.selected {
    color: #03a9f4;
}

md-side-nav{
  height:100%;
}