<md-sidenav ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
    <md-list>
    <md-list-item>
        <md-button ng-click="navigate('/')">
            <md-icon class="material-icons">home</md-icon>
            Home
        </md-button>
    </md-list-item>
    <md-list-item ng-repeat="item in menu|filter:filterRole">
        <md-button ng-click="navigate(item.path)">
            <md-icon class="material-icons">{{item.icon || 'extension'}}</md-icon>
            {{item.name}}
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="logout()">
            <md-icon class="material-icons">power_settings_new</md-icon>
            Logout{{path}}
        </md-button>
    </md-list-item>
    </md-list>
</md-sidenav>

<md-content flex id="content" layout-padding>
    <md-list ng-cloak ng-if="page=='app'">
        <md-header class="md-no-sticky">MY APPS</md-header>
        <md-list-item ng-repeat="item in user.apps">
            <md-icon class="material-icons">{{((items|filter:{_id:item})[0].icon) || 'extension'}}</md-icon>
            <p>{{(items|filter:{_id:item})[0].name}}</p>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <md-list ng-cloak ng-init="get()">
        <md-header class="md-no-sticky">{{page|uppercase}} LIST</md-header>
        <md-list-item ng-repeat="item in items">
            <md-icon class="material-icons">{{item.icon || (page=='app'?'extension':'perm_identity')}}</md-icon>
            <p ng-if="page=='app'">{{item.name}}<span hide-xs> v{{item.version}} | <span>{{category[item.category]}}</span> | <span>{{stages[item.stage]}}</span></span></p>
            <p ng-if="page=='user'">{{item.name}}<span hide-xs> | {{roles[item.role]}}</span></p>
            <md-icon ng-click="navigate('/'+page+'/edit', item)" class="material-icons" aria-label="Edit" class="md-primary md-hue-3" >create</md-icon>
            <md-icon ng-if="page=='app'" ng-click="addApp(item._id)" class="material-icons" aria-label="Add" class="md-secondary md-hue-3" >add_circle</md-icon>
            <md-icon ng-if="page=='app'" ng-click="remove(item)" class="material-icons" aria-label="Delete" class="md-secondary md-hue-3" >delete</md-icon>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
</md-content>