<md-sidenav ng-click="toggleList()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
    <md-list>
    <md-list-item>
        <md-button ng-click="navigate('/')">
            <md-icon class="material-icons">home</md-icon>
            Home
        </md-button>
    </md-list-item>
    <md-list-item ng-repeat="item in menu|filter:filterRole">
        <md-button ng-click="navigate(item.path)">
            <md-icon class="material-icons">{{item.icon || 'extension'}}</md-icon>
            {{item.name}}
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="logout()">
            <md-icon class="material-icons">power_settings_new</md-icon>
            Logout{{path}}
        </md-button>
    </md-list-item>
    </md-list>
</md-sidenav>

<md-content flex id="content" layout-padding ng-init="page='user'">
    <form name="userForm">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons">apps</md-icon>
                <h2>
                    <span>{{mode}} User</span>
                </h2>
                <span flex></span>
                <md-switch ng-if="mode == 'Edit'" aria-label="Deactive" ng-model="item.active" title="Deactive">
                </md-switch>
            </div>
        </md-toolbar>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Name</label>
            <md-icon class="material-icons">face</md-icon>
            <input type="text" ng-model="item.name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <md-icon class="material-icons">mail</md-icon>
            <input type="mail" ng-model="item.email">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Password</label>
            <md-icon class="material-icons">vpn_key</md-icon>
            <input type="password" ng-model="item.password">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Confirm Password</label>
            <md-icon class="material-icons">vpn_key</md-icon>
            <input type="password" ng-model="comfirmPassword">
        </md-input-container>
            <div layout="row">
            <md-input-container flex="50">
                <label>Role</label>
                <md-icon class="material-icons">unarchive</md-icon>
                <md-select ng-model="item.role">
                        <md-option ng-repeat="option in roles" ng-value="$index">{{option}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="50">
                <label>Designation</label>
                <md-icon class="material-icons">unarchive</md-icon>
                <md-select ng-model="item.designation">
                    <md-option ng-repeat="option in designation" ng-value="$index">{{option}}</md-option>
                </md-select>
            </md-input-container>
            </div>
            <div layout="row">
            <md-button ng-if="mode == 'Create'" class="md-raised md-primary" aria-label="Create" ng-click="create()">
                <md-icon class="md-icon-button">create</md-icon>Create
            </md-button>
            <md-button ng-if="mode == 'Edit'" class="md-raised md-primary" aria-label="Save" ng-click="save()">
                <md-icon class="md-icon-button">save</md-icon>Save
            </md-button>
            </div>
    </form>
</md-content>