<!doctype html>
<html ng-app='PortalApp'>
<head>
    <link href="../node_modules/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/portal.css"/>
  </head>
  <body ng-cloak ng-controller="PortalController" ng-init="init()" layout="column">

    <!-- Container #1 (see wireframe) -->
    <md-toolbar layout="row" >
      <h1>App Portal</h1>
    </md-toolbar>

    <!-- Container #2 -->
    <div flex layout="row">

        <!-- Container #3 -->
        <md-sidenav md-is-locked-open="false" class="md-whiteframe-z2"></md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content" layout-padding>

            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-icon class="material-icons">account_circle</md-icon>
                    <h2>
                        <span>{{mode}} User</span>
                    </h2>
                    <span flex></span>
                </div>
            </md-toolbar>
            <form name="loginForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Name</label>
                <md-icon class="material-icons">face</md-icon>
                <input type="text" ng-model="user.name">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Email</label>
                <md-icon class="material-icons">mail</md-icon>
                <input type="mail" ng-model="user.email">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Password</label>
                <md-icon class="material-icons">vpn_key</md-icon>
                <input type="password" ng-model="user.password">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Confirm Password</label>
                <md-icon class="material-icons">vpn_key</md-icon>
                <input type="password" ng-model="comfirmPassword">
            </md-input-container>
             <div layout="row">
                <md-input-container flex="50">
                    <label>Role</label>
                    <md-icon class="material-icons">unarchive</md-icon>
                    <md-select ng-model="user.role">
                         <md-option ng-repeat="option in roles" ng-value="$index">{{option}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="50">
                    <label>Designation</label>
                    <md-icon class="material-icons">unarchive</md-icon>
                    <md-select ng-model="user.designation">
                        <md-option ng-repeat="option in designation" ng-value="$index">{{option}}</md-option>
                    </md-select>
                </md-input-container>
             </div>
             <div layout="row">
                <md-button ng-if="mode == 'Create'" class="md-raised md-primary" aria-label="Create" ng-click="createUser()">
                    <md-icon class="md-icon-button">create</md-icon>Create
                </md-button>
                <md-button ng-if="mode == 'Edit'" class="md-raised md-primary" aria-label="Save" ng-click="saveUser()">
                    <md-icon class="md-icon-button">save</md-icon>Save
                </md-button>
             </div>
             <p>{{app}}</p>
            </form>
        </md-content>

    </div>

    <script src="../node_modules/angular/angular.js" type="text/javascript" ></script>
    <script src="../node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="../node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="../node_modules/angular-material/angular-material.js" type="text/javascript" ></script>
    <script src="../node_modules/angular-cookies/angular-cookies.js" type="text/javascript" ></script>
    <script src="./src/users/Portal.js" type="text/javascript" ></script>
  </body>
  </html>